<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--jQuery Link-->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!--Bootstrap Links-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!--CSS Style Sheet-->
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

        <title>Blog Scraper</title>
    </head>
    <body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Mongo Scraper</a>
            </div>
            <a href="/">Home</a>
            <a href="/saved">Saved Articles</a>
            <button type="button" class="btn btn-primary" id="scrape">Scrape Articles</button>
        </div>
    </nav>
    {{{ body }}}
    

        <!--External JS Link-->
        <script>
            $("#scrape").on("click", function() {
  $.ajax({
      method: "GET",
      url: "/scrape",
  }).then(function(data) {
      console.log(data)
      window.location = "/"
  })
});

//Set clicked nav option to active
$(".navbar-nav li").click(function() {
 $(".navbar-nav li").removeClass("active");
 $(this).addClass("active");
});

//Handle Save Article button
$(".save").on("click", function() {
  var thisId = $(this).attr("data-id");
  $.ajax({
      method: "POST",
      url: "/articles/save/" + thisId
  }).done(function(data) {
      window.location = "/"
  })
});

$(".delete").on("click", function() {
  var thisId = $(this).attr("data-id");
  $.ajax({
      method: "POST",
      url: "/articles/delete/" + thisId
  }).done(function(data) {
      window.location = "/saved"
  })
});


$(".saveNote").on("click", function() {
    console.log('entered on click')
  var thisId = $(this).attr("data-id");
  if (!$("#noteText" + thisId).val()) {
      alert("please enter a note to save")
  }else {
    $.ajax({
          method: "POST",
          url: "/notes/save/" + thisId,
          data: {
            text: $("#noteText" + thisId).val()
          }
        }).done(function(data) {
            // Log the response
            console.log(data);
            // Empty the notes section
            $("#noteText" + thisId).val("");
            $(".modalNote").modal("hide");
            window.location = "/saved"
        });
  }
});


$(".deleteNote").on("click", function() {
  var noteId = $(this).attr("data-note-id");
  var articleId = $(this).attr("data-article-id");
  $.ajax({
      method: "DELETE",
      url: "/notes/delete/" + noteId + "/" + articleId
  }).done(function(data) {
      console.log(data)
      $(".modalNote").modal("hide");
      window.location = "/saved"
  })
});
        </script>
    </body>
</html>