<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--jQuery Link-->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!--Bootstrap Links-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!--CSS Style Sheet-->
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

        <title>Blog Scraper</title>
    </head>
    <body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Mongo Scraper</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/saved">Saved Articles</a></li>
                    <li><button type="button" class="btn btn-primary" id="scrape">Scrape Articles</button></li>
                </ul>
            </div>
        </div>
    </nav>
    {{{ body }}}

        <!--External JS Link-->
        <script src="/assets/js/app.js"></script>
    </body>
</html>